<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <ul>
            <% for(let i of contactList){%>
                <li><%= i.name %>
                    <%= i.id %></li>
            <%}%>

            </ul>
    </body>
</html>